.film-card{
    color: #FFFFFF;
    width: 12%;
    height: auto;
}

.poster{
    position: relative;
    cursor: pointer;
}

.image{
    position: center;
    width: 100%;
    height: 70%;
}

.name-year{
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name{
    font-size: 1vw;
}

.year{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: 1px solid #555555;
    border-radius: 3px;
    font-size: 0.9vw;
}

.genre{
    font-size: 0.9vw;
    color: #555555;
}
