.film-card__dropdown{
    position: absolute;
    right: 0;
    margin-top: 5%;
    margin-right: 5%;
    cursor: pointer;
}

.film-card__dropdown_button_dots{
    cursor: pointer;
    width: 2.5em;
    background-color: unset;
    border: unset;
}

.film-card__dropdown_button_cross{
    padding: 0.1vh 0;
    cursor: pointer;
    width: 6vw;
    height: auto;
    background-color: #424242;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: unset;
    text-align: right;
}

.film-card__dropdown_image_dots{
    padding: 20% 20%;
    width: 80%;
    height: 80%;
    background-color: #424242;
    border-radius: 50%;
}

.film-card__dropdown_image_cross{
    padding-right: 1%;
    width: 15%;
    height: 15%;
}

.film-card__dropdown_menu{
    position: absolute;
    list-style-type: none;
    padding: 0;
    right: 0;
    background-color: #424242;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.film-card__dropdown_menu li{
    cursor: pointer;
}

.film-card__dropdown_menu li:hover{
    background-color: #F65261;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.film-card__dropdown_menu li button{
    cursor: pointer;
    text-align: start;
    font-size: 0.8vw;
    width: 6vw;
    padding: 0.5vh 1vw;
    color: #FFFFFF;
    background-color: unset;
    border: none;
}
