.list {
    min-height: 60vh;
    background-color: #232323;
    padding-left: 4%;
    padding-right: 4%;
}

.navigation {
    position: relative;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation::before{
    top:100%;
    border-bottom: 0.4vh solid #424242;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
}

.no-movie-found {
    color: #FFFFFF;
    font-size: 2vw;
    display: flex;
    height: 54vh;
    justify-content: center;
    align-items: center;
}

.movies-found {
    font-size: 1vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: #FFFFFF;
}

.films-container {
    padding-bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 5.6%;
}
