.film-search {
    height: 34vh;
    padding-left: 10vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../images/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.film-search__title {
    font-size: 2vw;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 8vh;
}

.film-search__form{
    height: 8vh;
    display: flex;
    align-items: center;
}

.film-search__input{
    height: 4vh;
    width: 25vw;
    margin-right: 5px;
    border-radius: 3px;
    border: #424242;
    background-color: #232323;
    font-size: 1vw;
    color: #FFFFFF;
    padding-left: 2vw;
}

.film-search__input::placeholder{
    color: #555555;
}

.film-search__button{
    cursor: pointer;
    font-size: 1vw;
    color: #FFFFFF;
    background-color: #F65261;
    border-radius: 3px;
    border: #F65261;
    height: 4vh;
    width: 8vw;
}
